<h3>Configuración Cuenta</h3>

<div class="row">
	<div class="span3">
		<ul class="nav nav-list">
			<li class="nav-header">Menú Usuario</li>
    		<li>
    		<%= link_to 'Información Básica', edit_user_registration_path %>
    		</li>
    		<li>
    		<%= link_to 'Editar Perfil', perfil_path(current_user)%>
    		</li>
    	</ul>
	</div>
    <!-- Mostrar Avatar del usuario -->
    <div class="span3">             
        <%= gravatar_image_tag(current_user.email, :alt => current_user.name,:class=>"thumbnail",:gravatar => { :size => 300 })  %> 
    </div>
    <div class="span3">
    <!-- Listar los usuario -->
        <%= render :partial=>"listado_amigos", :locals => {:usuario=> current_user} %>
    </div>
    


</div>
  
