<h3>Usuarios Registrados</h3>
<% @users.each do |user| %>
	<div class="content">
		<div class="row">
			<!-- Insertar avatar -->
			<div class="span1">
				<%=link_to gravatar_image_tag(user.email, :alt=>user.name),user_path(user)  %>
			</div>
			<!-- Fín avatar -->
			<!-- Nombre y descripción usuario -->
			<div class="span">
				<strong><%= user.name.capitalize %></strong>
				<p>
					<small>
						<%= ciudad_usuario(user) %>
					</small>
				</p>
			</div>
			<!-- Fín descripción-->
		</div>
	</div>

<% end %>


<%= will_paginate @users %>
