<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha pedido un enlace para cambiar su contraseña. Usted puede hacer esto a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no has solicitado este, por favor ignore este mensaje.</p>
<p>la contraseña no cambiará hasta que acceda al enlace anterior y crear uno nuevo.</p>
